@font-face {
  font-family: interItalic;
  src: url(./fonts/Inter-italic.var.woff2);
}

@font-face {
  font-family: inter;
  src: url(./fonts/Inter-upright.var.woff2);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: inter;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
}

.sub_container {
  width: 100%;
  margin: 0 auto;
}

h2,
h3,
h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #334bf7 !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  padding: 0px 2rem;
  max-width: 1350px;
  position: relative;
}

.navbar {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 15% 60% 25%;
  padding: 1.5rem 0 7rem;
}

.navbar .logo h2 {
  font-size: 32px;
}

.navbar .search i {
  font-size: 20px;
}

.navbar .menu_link li a {
  font-size: 18px;
  font-weight: 600;
  line-height: 19.2px;
  color: #26272e;
}

.menu_link {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.search {
  display: flex;
  justify-content: flex-end;
}

.section_container {
  display: flex;
  justify-content: space-between;
}

.sum_container {
  display: grid;
  grid-template-columns: 360px 1fr;
  padding: 0 0 4rem;
  grid-template-areas: "side main";
  gap: 4rem;
}

.sticky_container {
  grid-area: side;
}

.content_area {
  grid-area: main;
}

.content {
  display: flex;
  padding: 0 0 1rem;
}

.sticky_medium {
  background-image: url(./img/TheCollective_small.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  aspect-ratio: 1.8;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(1px 6px 7px hsla(246, 44.6%, 16.3%, 0.44));
  border-radius: 12px;
  gap: 0.5rem;
  margin: 1.5rem auto 0;
  max-width: 440px;
}

.card-box {
  padding: 1.5rem;
}

footer {
  background-color: #f1f1f1;
  padding: 5rem 0 5rem;
}

.footer_area {
  display: flex;
}

.footer_text_area {
  display: flex;
  justify-content: space-between;
}

.footer_text_area .first {
  padding: 0px 25px 0px 0px;
}

.footer_text_area .second {
  padding: 0px 25px;
}

.footer_text_area .third {
  padding: 0px 25px;
}

.left_footer {
  margin-right: 6rem;
}

.right_footer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertisment {
  width: 300px;
}

.main_sum_container {
  margin: 0 0 4rem 0;
  width: auto;
  padding-right: 4rem;
}

.top_advertisment .img_section img {
  width: 100%;
}

.content img {
  margin: 0rem 1rem 1rem 0rem;
}

.top_advertisment {
  background-color: black;
}

.top_advertisment .text_area p {
  margin: 0;
  padding: 20px;
}

.top_advertisment .text_area p a {
  color: white;
}

.left_area .left_text_area {
  width: 140px;
  height: 140px;
  display: grid;
  margin: 0;
  place-items: center;
  background: #000;
  color: #777;
  font-size: 11px;
  text-transform: lowercase;
  font-family: "Inter var", sans-serif;
  letter-spacing: 1px;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.right_area {
  height: 140px;
  width: 140px;
  display: grid;
  place-items: center;
  background: #000;
}

.medium_advertisment {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.show {
  top: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  background: #f1f1f1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s;
}

.active {
  transition: all 0.5s;
  opacity: 1;
  position: sticky;
}

.inner-show span .show_text {
  display: block;
  padding: 1rem 0 30px;
  line-height: 1.5;
  text-align: left;
  color: rgb(38, 39, 46);
  font-size: 16px;
  font-weight: 400;
}

.sub_title h2 a {
  font-size: 20px;
  line-height: 26px;
  color: rgb(38, 39, 46);
}

.sub_title span,
.sub_title span a,
.pagination_text span,
.pagination_text span a {
  color: rgb(130, 130, 130);
}

.stikcy_info h2 {
  font-size: 20px;
  line-height: 26px;
  color: rgb(38, 39, 46);
}

.stikcy_info p,
.stikcy_info span a,
.sticky_footer p a {
  font-size: 16px;
  color: rgb(38, 39, 46);
  line-height: 24px;
}

.stikcy_info span a {
  text-decoration: underline;
}

.content .sub_title p span {
  color: rgb(236, 105, 84);
  font-size: 15px;
  font-weight: 500;
}

.show_small {
  padding: 6px 8px;
  background: #d7d7d7;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 0.512rem;
  line-height: 1;
  border-radius: 0;
}

.card-box form {
  display: flex;
}

.card-box form input {
  padding: 1rem;
  border: 1px solid #000;
  background: #fff;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
}

.card-box form button {
  border-radius: 0 4px 4px 0;
  height: 3.5rem;
  border: 1px solid #000;
  padding: 0 1.5rem;
  background-color: black;
  color: white;
  margin-left: -5px;
}

.container_sticky {
  position: sticky;
  top: 2rem;
}

.footer_area h4 {
  letter-spacing: 0;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.3;
}

.footer_area li {
  margin: 0.5rem 0;
  text-transform: lowercase;
}

.footer_area li a {
  font-size: 16px;
}

.footer_area h2 {
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.3;
}

.pagination_item {
  grid-gap: 2rem;
  padding: 0;
  display: grid;
  margin-bottom: 5rem;
  justify-content: start;
  grid-template-columns: 400px 1fr;
}

.pagination_item img {
  display: block;
  height: 100%;
  width: 100%;
  max-width: none;
}

.pagination_text {
  position: relative;
}

.pagination_footer {
  position: absolute;
  bottom: 0;
}

.pagination ul,
.pagination2 ul {
  display: flex;
  gap: 20px;
}

.pagination_area {
  margin: 100px 0px;
}

.pagination,
.pagination2 {
  padding: 2rem 0;
}

.pagination_text h2 a,
.sketches_text_area h2 {
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 28.8px;
}

.section_text_area {
  padding-right: 4rem;
  width: auto;
  margin: 0 2rem 0 0;
}

.pagination ul li a,
.pagination2 ul li a {
  color: #595a5f;
}

.pagination ul li.active .current,
.pagination2 ul li.active .current {
  color: #000;
}

.pagination_footer span,
.pagination_text span {
  font-size: 13px;
}

.top_section h2,
.sketches_header h2 {
  font-size: 32px;
}
.top_section p,
.sketches_header p {
  font-size: 21px;
  line-height: 1.5;
  margin-right: 9rem;
}

.pagination_text p,
.sketches_text_area p {
  font-size: 16px;
  color: rgb(38, 39, 46);
  line-height: 24px;
}

.sketches_content_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.sketches_img img {
  width: 100%;
}

.date,
.sketches_text_area span {
  margin: 0.5rem 0 1rem;
  font-size: 14px !important;
  color: rgb(130, 130, 130) !important;
}

.sketches_content {
  margin-top: 6rem;
}

.footer_sketch p {
  font-size: 0.9rem;
  margin: 3rem 0;
}

.sketches_header {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.sketches_right {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.sketches_right .carbon_copy {
  display: flex;
  align-items: center;
}

.carbon_copy a img {
  width: 100%;
  border-radius: 8px;
}

.sketches_imgText {
  padding: 0 0 0 1rem;
  font-size: 0.9rem;
  line-height: 21px;
}

.banner {
  padding-top: 8px;
  font-size: 11px;
}
